<div class="row">
    <h1 id="Proyectos">Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoPro" *ngIf="isLogged">

            Nuevo Proyecto

        </button>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <table class="table">

                <tbody>
                    <tr *ngFor="let Proyecto of proyecto">
                        <td><h2>{{Proyecto.nombre}}</h2><h3> - </h3><h4>{{Proyecto.fecha}}</h4><br><h6>{{Proyecto.descripcion}}</h6></td>
                        <td><img src={{Proyecto.imagen}} class="img-fluid img-proyecto"></td>
                        <td *ngIf="isLogged"><button class="btn btn-secondary" routerLink="/editarPro/{{Proyecto.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button></td>
    
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button></td>
                    </tr>
                </tbody>
    
            </table>

        </div>
        
    </div>
</div>