<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'2em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'2em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'2em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'2em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'2em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'2em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="32"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [subtitle]="'Trabajo en equipo'"
            [subtitleFontWeight]="'100%'"
            [subtitleColor]="'black'"
            [subtitleFontSize]="'1em'"
            [animation]="true"
            [animationDuration]="800"
            [responsive]="true"
        ></circle-progress>
    </div>
</div>