<div class="row">
    <h1 id="categoria">Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaExp" *ngIf="isLogged">

            Nueva Experiencia

        </button>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <table class="table">

            <tbody>
                <tr *ngFor="let Experiencia of experiencia">
                    <td>{{Experiencia.nombreExp}}</td>
                    <td>{{Experiencia.descripcionExp}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-secondary" routerLink="/editarExp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button></td>

                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>