<div class="row">
    <h1 id="categoria">Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaEdu" *ngIf="isLogged">

            Nueva Educacion

        </button>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <table class="table">

            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>{{Educacion.nombreEdu}}</td>
                    <td>{{Educacion.descripcionEdu}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-secondary" routerLink="/editarEdu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button></td>

                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
