<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/miFoto.jpg" id="fotomia">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="nomytit">
        <p id="nombre">{{user.apellido}} {{user.nombre}}</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8" id="acermi">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, perspiciatis? Corrupti voluptas ipsum culpa enim modi quos ipsa consequatur excepturi. Autem excepturi officiis eos consequuntur ea ipsum, amet et perspiciatis.</p>
        </span>
    </div>
</div>