<div class="row">
    <div>
        <button type="button" class="btn btn-secondary" routerLink="/editarAcerDe/1" *ngIf="isLogged">

            Editar Persona

        </button>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{user.imagen}} id="fotomia">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="nomytit">
        <p id="nombre">{{user.apellido}} {{user.nombre}}</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8" id="acermi">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{user.descripcion}}</p>
        </span>
    </div>
</div>