<div class="row">
    <h1 id="Proyectos">Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6 part1">
        
            <h2>Proyecto 1</h2>
            <h3> - </h3>
            <h4>(fRealizado)</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nam, dicta necessitatibus in consequuntur dolorum assumenda, numquam dolore possimus similique atque sunt praesentium recusandae quasi maxime! Rem optio omnis facilis!</p>

        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 part2"></div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 part3">
            <img src="../../../assets/banner.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>