.row{
    padding: 15px;
}
div{
    background-color: lightblue;
}
h2, h3, h4{
    display: inline;
}

.part1, .part2, .part3{
    display: inline-block;
    text-align: justify;
}
.contenedor{
    width: auto;
}
.img-proyecto{
    box-shadow: 5px 5px 10px #000000;
}