<div class="contenedor">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dlogo">
            <img src="../../../assets/argPrograma.png" id="iconAP" class="img-fluid text-left">
        
            <button type="button" class="btn btn-primary" id="login" (click)="login()" *ngIf="!isLogged">LOGIN</button>
            <button type="button" class="btn btn-primary" id="login" (click)="onLogout()" *ngIf="isLogged">CERRAR SESIÓN</button>
            <a href="https://www.facebook.com/marcelo.macchion/"><img src="../../../assets/facebook.png" id="facebook" class="img-fluid text-right"></a>
            <a href="https://www.instagram.com/exequielmarcelom/"><img src="../../../assets/instagram.png" id="instagram" class="img-fluid text-right"></a>
            <a href="https://github.com/Mecachelo"><img src="../../../assets/github.png" id="github" class="img-fluid text-right"></a>
            
            
        </div>
        
    </div>
</div>   