<div class="row">
    <div class="container">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="dlogo">
            <img src="../../../assets/argPrograma.png" id="iconAP">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="dred">
            <button type="button" class="btn btn-primary" id="login">LOGIN</button>
            <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/github.png" id="github"></a>
            
        </div>
        
    </div>
</div>   