#iconAP{
    width: 150px;
    
    
}

#instagram, #facebook, #github{
    width: 50px;
    margin-left: 5px;
    float: right;
    
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.row{
    margin: 0;
}

#login{
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}