#iconAP{
    width: 130px;
    
    
}

#instagram, #facebook, #github{
    width: 35px;
    margin-left: 5px;
    float: right;
    margin-top: 20px;
    
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.row{
    margin: 0;
}

#login{
    float: right;
    margin-top: 20px;
    margin-left: 5px;
}